{% extends 'base.html.twig' %}

{% block title %}{% for question in pager %} {{ question.name }}{% endfor %} - {{ parent() }}{% endblock %}

{% block body %}
<div class="container mt-5 mb-5">
    <div class="row shadow-lg mb-5 rounded-2">
        {% for question in pager %}
            <div class="row-cols-auto text-center bg-gradient bg-dark text-light rounded-3">
                <u class="text-decoration-none fw-bold">{{ question.owner.name }}</u>
                <p class="mb-1"><small>{{ question.owner.mycar }}</small> </p>
            </div>

            <div class="col text-dark bg-gradient">
                <h1 class="mb-0">{{ question.name }}</h1>
                <small class="badge d-flex justify-content-end">{{ question.askedAt|date('d.m.Y, H:i') }}</small>
                <hr class="mb-0 mt-0">
                <p class="fs-6 fst-italic">{{ question.question|raw }}</p>
            </div>

    </div>
        {% for answer in question.answers %}
            <div class="row mt-5 mb-4 ms-3 me-3">
                <div class="row-cols-lg shadow bg-gradient bg-success text-center rounded-2">
                    <u class="text-decoration-none fw-bold">{{ answer.owner.name }}</u>
                    <p class="mb-0"><small>{{ answer.owner.mycar }}</small> </p>
                </div>
                <div class="col shadow small">
                    <small class="badge d-flex justify-content-end">{{ answer.answeredAt|date('d.m.Y, H:i') }}</small>
                    <hr class="mb-0 mt-0">
                    <p class="mt-1 fs-6"> {{ answer.content|raw }}</p>
                </div>
            </div>
        {% endfor %}
        {% endfor %}

    {% if app.user %}
        <div class="mb-4 d-flex justify-content-end">
            <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                Dodaj komentarz
            </button>
        </div>
        <div class="collapse shadow" id="collapseExample">
            <div class="card card-body">
                {{ form_start(answer) }}
                {{ form_row(answer.content) }}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-success ">Dodaj</button>
                </div>
                {{ form_end(answer) }}
            </div>
        </div>
    {% endif %}
</div>

{% endblock %}
