{% extends 'base.html.twig' %}

{% block title %}Kategoria - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container-fluid mt-5">

        <a
            href="nowy/temat"
            class="btn btn-danger mb-3"
        >
            <i class="fas fa-pencil-alt fa-xs"></i> <u class="text-decoration-none fw-bold">Dodaj wątek</u>
        </a>

{#        {% for question in questions %}#}
            {% for general in g_questions %}
                <div class="border-bottom bg-gradient">
                    <a class="text-decoration-none link-dark" href="{{ general.slug }}">
                        <h4 class="mb-0 ms-2">{{ general.name }}</h4>
                    </a>
                    <p class=" mb-0 ms-2">autor: Admin <i class="fas fa-angle-double-right fa-xs"></i> {{ general.askedAt|date('d.m.Y, H:i') }} </p>
                </div>
            {% endfor %}
{#        {% endfor %}#}


        {% for question in questions %}
            <div class="border-bottom bg-gradient">
                <a class="text-decoration-none link-dark" href="{{ question.slug }}">
                    <h4 class="mb-0 ms-2">{{ question.name }}</h4>
                </a>
{#                <p class=" mb-0 ms-2">autor: Admin <i class="fas fa-angle-double-right fa-xs"></i> {{ question.askedAt|date('d.m.Y, H:i') }} </p>#}
            </div>
        {% endfor %}



    </div>

{% endblock %}
