{% extends 'base.html.twig' %}

{% block title %}Strona główna - {{ parent() }}{% endblock %}

{% block body %}
    <div class="container text-center">
        <div class="">
            <h1 class="text-dark mb-5">Wybierz swój samochód:</h1>
        </div>

        {% for car in cars %}
            <div class="mt-3">
                <u class="btn bg-success text-white fs-3 fw-bold">
                    {{ car.name }}
                </u>

                <div class="mt-2">
                    <h4>
                        {% for model in car.model %}
                            <a class="text-decoration-none btn btn-outline-info bg-gradient text-white" href="{{ car.slug }}/{{ model.name }}">{{ model.name }}</a>
                        {% endfor %}
                    </h4>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
